.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  /* grid-template-columns: 1fr 100px 2fr; */
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px -1px darkslategray;
  border-radius: 15px;
  padding: 20px;

  & .img {
    max-height: 200px;
    width: auto;
    object-fit: contain;
  }
}